.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  scroll-behavior: smooth;
}

.content {
  background-color: #fafafa;
  width: 23rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 0.2rem solid var(--current-color);
  color: var(--current-color);
  box-shadow: 0 0 0.2rem 0.05rem;
}

.footer {
  background: none;
  position: absolute;
  right: 0rem;
  bottom: 5rem;
  color: white;
  transform: rotate(90deg);
}

.footer h2 {
  display: flex;
  align-items: center;
}

.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  color: var(--current-color);
}

.footer:hover {
  color: var(--current-color);
  cursor: pointer;
}

.scrollDown {
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 2em;
  transform: rotate(-90deg);
}

.rotatingElemets {
  position: absolute;
  z-index: 1;
  width: 23rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotatingElemets_inactive {
  display: none;
}

.rotatingElemets span {
  position: absolute;
  width: 10rem;
  height: 10rem;
  transition: 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotatingElemets img {
  width: 7rem;

}

.rotatingElemets span:nth-child(1) {
  animation: rotate1 4s linear forwards;
}

.rotatingElemets span:nth-child(2) {
  animation: rotate2 4s linear forwards;
}

.rotatingElemets span:nth-child(3) {
  animation: rotate3 4s linear forwards;
}

.rotatingElemets span:nth-child(4) {
  animation: rotate4 4s linear forwards;
}

@keyframes rotate1 {
  0% {
    opacity: 0%;
    transform: translate(0%);
  }
  10% {
    opacity: 100%;
    transform: rotate(0deg) translate(-180%);
  }
  90% {
    transform: rotate(360deg) translate(-180%);
    opacity: 100%;
  }
  100% {
    transform: translate(0%);
    opacity: 0%;
  }
}

@keyframes rotate2 {
  0% {
    opacity: 0%;
    transform: translate(0%);
  }
  10% {
    opacity: 100%;
    transform: rotate(0deg) translate(0%, -180%);
  }
  90% {
    opacity: 100%;
    transform: rotate(360deg) translate(0%, -180%);
  }
  100% {
    opacity: 0%;
    transform: translate(0%);
  }
}

@keyframes rotate3 {
  0% {
    opacity: 0%;
    transform: translate(0%);
  }
  10% {
    opacity: 100%;
    transform: rotate(0deg) translate(0%, 180%);
  }
  90% {
    opacity: 100%;
    transform: rotate(360deg) translate(0%, 180%);
  }
  100% {
    opacity: 0%;
    transform: translate(0%);
  }
}

@keyframes rotate4 {
  0% {
    opacity: 0%;
    transform: translate(0%);
  }
  10% {
    opacity: 100%;
    transform: rotate(0deg) translate(180%);
  }
  90% {
    opacity: 100%;
    transform: rotate(360deg) translate(180%);
  }
  100% {
    opacity: 0%;
    transform: translate(0%);
  }
}
