.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  font-size: 1.5rem;
}

.wrapper * {
  margin: 0;
  text-align: center;
  color: #fff;
}

.wrapper span {
  color: var(--current-color);
}

.wrapper h3 {
  font-style: italic;
  color: var(--current-color);
}
