.wrapper {
  position: fixed;
  left: 1.5rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  z-index: 999;
  scroll-behavior: smooth;
}

.content {
  background-color: rgb(21, 21, 21);
  height: 25rem;
  width: 5rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.in_active {
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 0.2rem solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
}

.in_active:hover {
  transition: all 0.25s;
  border: 0.2rem solid rgba(255, 255, 255);
  color: rgba(255, 255, 255);
  box-shadow: 0 0 0.2rem 0.05rem;
}

.active {
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 0.2rem solid var(--current-color);;
  color: var(--current-color);;
  box-shadow: 0 0 0.2rem 0.05rem;
  transition: all .2s;
}

.active:hover {
  transition: all 0.25s;
  border: 0.2rem solid var(--current-color);;
  color: var(--current-color);;
  box-shadow: 0 0 0.2rem 0.05rem;
}
