.wrapper {
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

.wrapper h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 3rem;
  position: absolute;
  z-index: 1;
}

.content {
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content a {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20rem;
  height: 20rem;
  background-color: rgb(21, 21, 21);
  font-size: 9rem;
  border: 0;
  flex-direction: column;
  border-radius: 1rem;
  background-color: rgba(21, 21, 21, 0.75);
}

.content a:hover{
  color: var(--current-color);;

}

.content h3 {
  font-size: 1rem;
}